@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
.container-hangman {
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: orangered;
  display: block;
  text-align: center;
  padding: 5.5rem 0;
  position: fixed;
  font-family: "Audiowide", cursive;
}
.title {
  text-align: center;
  font-size: 2.2rem;
  padding: 0.2rem 0;
  margin: 0.2rem;
  font-family: "Press Start 2P", cursive;
}

.words {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}
.guess {
  border: 2px solid silver;
  border-radius: 4rem;
  margin: 0 2rem;
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.guess div {
  margin: 0 1rem;
  padding: 0 1rem;
}
.guessed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: 2px dashed floralwhite;
  text-align: center;
}

.input-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: slateblue;
  border-radius: 10px;
  margin: 10px;
}
.word-guess {
  display: inline-flex;
  border-right: 2px dashed floralwhite;
  padding: 0 1rem;
}

.word-guess input {
  text-align: center;
  margin: 0.5rem;
  width: 30%
}

.word-guess button{
  margin: 0 0.5rem;
}

.res {
  background-color: red;
}